$indigo-1: #170f7b;

$font-ja: 'Noto Sans JP', sans-serif;
$font-en: 'Spartan', sans-serif;

.ComingSoon {
  font-family: $font-en;
  font-size: 5rem; // 80px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -2.51px;
  text-align: center;
  color: #d8d8d8;

  /* テキストを選択不能にする */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
