$indigo-1: #170f7b;

$font-ja: 'Noto Sans JP', sans-serif;
$font-en: 'Spartan', sans-serif;

.FinalWinners {
  line-height: 2.07;
  letter-spacing: normal;
  color: $indigo-1;
  padding-left: 1em;
  font: {
    family: $font-ja;
    size: 20px;
    weight: 700;
  }
  p {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    padding-left: calc(24px + 0.5em + 1em);
  }
  li {
    padding: 0;
  }
  p:last-child {
    margin-bottom: 50px;
    line-height: 2.07;
    letter-spacing: normal;
    color: $indigo-1;
    padding-left: 1em;
    margin-left: -0.6em;
    font: {
      family: $font-ja;
      size: 75%;
      weight: 500;
    }
  }
}
