$indigo-1: #170f7b;

$font-ja: 'Noto Sans JP', sans-serif;
$font-en: 'Spartan', sans-serif;

.Footer {
  font-family: $font-en;
  font-size: 0.82rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.67px;
  color: $indigo-1;
}
