$indigo-1: #170f7b;

$font-ja: 'Noto Sans JP', sans-serif;
$font-en: 'Spartan', sans-serif;

.Organizer {
  p {
    font-family: $font-ja;
    font-size: 25px;
    font-weight: 700;
    line-height: 2.07;
    letter-spacing: normal;
    color: $indigo-1;
    padding-left: 1em;
  }
}
@media screen and (max-width: 600px) {
  .Organizer {
    p {
      font-size: 1rem;
    }
  }
}
