$indigo-1: #170f7b;

$font-ja: 'Noto Sans JP', sans-serif;
$font-en: 'Spartan', sans-serif;

.Schedule {
  margin-bottom: 50px;
  &-List {
    &-Title {
    }
    &-Content {
    }
  }
  ul {
    margin-left: 30px;
    padding: 0.5em;
    background: transparent;
    li {
      position: relative;
      padding: 0.5em 0.5em 0.5em 0;
      font-family: $font-ja;
      font-size: 20px;
      color: $indigo-1;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: normal;
    }
    ul {
      display: block;
      font-size: 17px;
      font-weight: 500;
      line-height: 1.43;
      letter-spacing: normal;
      color: $indigo-1;
      margin: 0;
      padding: 0;
      p:nth-child(2) {
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 2;
        letter-spacing: normal;
        color: $indigo-1;
      }
    }
  }
}