$font-ja: 'Noto Sans JP', sans-serif;
$font-en: 'Spartan', sans-serif;

.SponsorLogo {
  > img {
    margin: {
      left: 25px;
      right: 25px;
    }

    /*
     * margin-top & margin-bottom はインラインで設定
     * ロゴによって上下の位置をずらす必要があるためそれぞれ計算する
     * 初期値は margin-top: 30px; margin-bottom: 30px;
     */
  }
  /* @media screen and (max-width: 479px) {
    max-width: 360px !important;
  }
  @media screen and (max-width: 424px) {
    max-width: 330px !important;
  }
  @media screen and (max-width: 374px) {
    max-width: 300px !important;
  } */
}
